* {
    font-family: sans-serif;
}

/* Main element modifier */

main {
    position: relative;
    background-color: aliceblue;
}

/* Header Flexbox */

.main_header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 48, 53);
    padding: .7%;
    padding-top: 2px;
    padding-left: 0%;
}

/* Header Name and backround */

.main_header h1 {
    font-size: 500%;
    font-weight: 400;
    color: rgb(63, 62, 62);
    background-color: rgb(157, 218, 212);
    padding-left: 7%;
    padding-right: 1%;
    margin-bottom: 1%;
}

/* Header Side References */

.references{
    padding-top: 30px;
    padding-right: 3%;
    padding-inline-start: 0%;
    text-align: center;
}

.references li {
    display: inline-block;
    text-align: end;
} 

.references li a {
    text-decoration: none;
    color: black;
    font-size: 200%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    color: rgb(157, 218, 212);
    border-bottom: 4px solid currentColor;
}

/* Banner Class */

.banner {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/blue_backround9.jpg");
    background-size: cover;
    background-position: center;
}

.banner p {
    position: absolute;
    color: rgb(63, 62, 62);
    font-size: 300%;
    background-color: rgb(157, 218, 212);
    padding: .5%;
    bottom: 7%;
    right: 7%;
}

/* Main information tags */


.info {
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4%;
}

.info h1{
    width: 20%;
    color: rgb(40, 74, 85);
    font-size: 400%;
    text-align: end;
    padding-right: 1%;
    border-right: 6px solid rgb(40, 74, 85);
    height: auto;
}

/* About me text */

.info p {
    width: 70%;
    color: rgb(40, 74, 85);;
    font-size: 120%;
    margin-left: 1%;
    margin-right: 4%;
}

/* Contact Me Section */

.info ul {
    margin-top: 3%;
    width: 75%;
}

.info ul li {
    display: inline;
    text-align: end;
    color: rgb(40, 74, 85);;
    font-size: 150%;
    margin-left: 3%;
    margin-right: 5%;
    border-bottom: 4px solid currentColor;
}

.info a {
    text-decoration: none;
    color: black;
}

/* Work Images aligned on screen with a border */

.info img {
    opacity: 70%;
    display: inline-block;
    border: 8px solid rgb(157, 218, 212);
    margin-left: 3%;
}

.info img:hover {
    opacity: 100%;
    border: 10px solid rgb(157, 218, 212);
}

/* Class for the div containing all the images */

.work_container {
    width: 74%;
    position: relative;
    display: inline-block;
}

.work_container img {
    margin: 3%;
} 

/* Text for the bigger work container */

.info h4 {
    font-size: 200%;
    position: absolute;
    background-color: rgb(157, 218, 212);
    left: 3%;
    top: 25%;
    padding: 1%;
}

.info h4 i {
    font-size: 50%;
}

/* Text for all of the smaller work containers */

.info h2 {
    position: relative; 
    display: inline-block;
    width: 11%;
    bottom: 7%;
    padding-left: 3%;
    padding: 1%;
    left: -33%;
    text-align: center;
    background-color: rgb(157, 218, 212);
}

.info h2 i {
    font-size: 70%;
}

.info iframe {
    width: 64%;
    height: 700px;
    margin-right: 8%;
}

/* Footer element modifiers */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(44, 48, 53);
    padding: 2%;
}

footer h1 {
    padding: 1%;
    font-size: 200%;
    font-weight: 400;
    color: rgb(63, 62, 62);
    background-color: rgb(157, 218, 212);
}

/* :) */

footer h1::after {
    content: "❤️";
}


/* Media Query for whole site */
@media screen and (max-width: 1220px) {
    .info h1 {
        font-size: 150%;
    }
    .info h4, h2 {
        font-size: 100%;
    }
}

@media screen and (max-width: 711px) {
    .info iframe {
        height: auto;
        width: auto;
    }
    .info img {
        border: 5px solid rgb(157, 218, 212);
    }
    .info h2 {
        font-size: 1%;
    }
    .info h4 {
        font-size: 2%;
    }
    .info ul {
        margin-top: 0%;
    }
    .info ul li {
        border-bottom: 2px solid currentColor;
        font-size: 110%;
    }
    .info h1 {
        font-size: 100%;
    }
    .info p {
        font-size: 100%;
    }
    .main_header {
        flex-direction: column;
    }
    .main_header ul {
        margin-bottom: 3%;
    }
}