* {
    font-family: sans-serif;
}

/* Main element modifier */

main {
    position: relative;
    background-color: aliceblue;
}

/* Header Flexbox */

.main_header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 48, 53);
    padding: .7%;
    padding-top: 2px;
    padding-left: 0%;
}

/* Header Name and backround */

.main_header h1 {
    font-size: 500%;
    font-weight: 400;
    color: rgb(63, 62, 62);
    background-color: rgb(157, 218, 212);
    padding-left: 7%;
    padding-right: 1%;
    margin-bottom: 1%;
}

/* Header Side References */

.references{
    padding-top: 30px;
    padding-right: 3%;
    padding-inline-start: 0%;
    text-align: center;
}

.references li {
    display: inline-block;
    text-align: end;
} 

.references li a {
    text-decoration: none;
    color: black;
    font-size: 200%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    color: rgb(157, 218, 212);
    border-bottom: 4px solid currentColor;
}

/* Banner Class */

.banner {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/blue_backround9.jpg");
    background-size: cover;
    background-position: center;
}

.banner p {
    position: absolute;
    color: rgb(63, 62, 62);
    font-size: 300%;
    background-color: rgb(157, 218, 212);
    padding: .5%;
    bottom: 7%;
    right: 7%;
}

/* Main information tags */


.info {
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4%;
}

.info h1{
    
    width: 30%;
    color: rgb(40, 74, 85);
    font-size: 400%;
    text-align: end;
    padding-right: 1%;
    border-right: 6px solid rgb(40, 74, 85);
    height: auto;
}

.info p {
    width: 70%;
    color: rgb(40, 74, 85);;
    font-size: 120%;
    margin-left: 1%;
    margin-right: 4%;
}

.info ul {
    margin-top: 3%;
    width: 75%;
}

.info ul li {
    display: inline;
    text-align: end;
    color: rgb(40, 74, 85);;
    font-size: 150%;
    margin-left: 3%;
    margin-right: 5%;
    border-bottom: 4px solid currentColor;
}

.info a {
    text-decoration: none;
    color: black;
}

.info img {
    display: inline-block;
    border: 8px solid rgb(157, 218, 212);
    margin-left: 3%;
    
}

.info h2 {
    position: relative; 
    display: inline-block;
    width: 10%;
    bottom: 10%;
    right: 20%;
    text-align: center;
    background-color: rgb(157, 218, 212);
}
.info h3 {
    position: absolute;
    display: inline-block;
    background-color: rgb(157, 218, 212);
}


.bottom_work_container {
    width: 70%;
    position: relative;
    display: inline-block;
    flex-direction:
}
.bottom_work_container img {
    margin: 3%;
} 
/* 

.img_text { 
    position: relative; 
    bottom: 10%;
    left: 10%;
    font-size: 150%;
    background-color: aqua;
} */


/* .img_sub {
    position: absolute;
} */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(44, 48, 53);
    padding: 1%;
    height: 30%;
}

footer h1 {
    font-size: 200%;
    font-weight: 400;
    color: rgb(63, 62, 62);
    background-color: rgb(157, 218, 212);
}

footer h1::after {
    content: "❤️";
}


/* Media Query for Header */

@media screen and (max-width: 711px) {
    .info ul {
        margin-top: 0%;
    }
    .info ul li {
        font-size: 120%;
    }
    .info h1 {
        font-size: 150%;
    }
    .main_header {
        flex-direction: column;
    }
    
}